<form class="chat__type-message d-flex pdt-5 align-items-center">
	<div class="chat__attach d-flex justify-content-center align-items-center mrr-5">
		<img src="../../static/img/attach.svg">
	</div>
	<textarea name="message" class="chat__type w-100" rows="1" placeholder="Введите сообщение"></textarea>
	<button type="submit" class="chat__send mrl-5"></button>
</form>