<div class="errors w-100 hv-100 top-0 left-0 right-0 d-flex dir-column justify-content-center text-center">
	<div class="errors__content">
		<h1 class="mrb-10">{{ title }}</h1>
		<h2 class="mrb-35">{{ description }}</h2>
		{{> link}}
	</div>
</div>