<div class="intro">
	<div class="intro__overlay"></div>
	<div class="intro__card d-flex dir-column">
		<h1 class="intro__title text-center mrb-20">{{ title }}</h1>
		<form class="d-flex dir-column justify-content-between">
			<div class="intro__inputs">
				{{#each inputs}}
					{{> input }}
				{{/each}}
			</div>
			<div class="intro__buttons mrt-20">
				{{#each buttons}}
			    	{{> button }}
			    {{/each}}
			</div>
		</form>
	</div>
</div>