<div class="replica d-flex mrb-5 {{#if mine}}justify-content-end{{/if}} {{#if another}}justify-content-start{{/if}}">
	<div class="replica__wrapper {{#if mine}}mine{{/if}} {{#if another}}another{{/if}}">
		<div class="replica__text">{{ text }}</div>
		<div class="replica__time mrt-5 text-right">{{ time }}</div>
	</div>
</div>