<!-- Doctype HTML5 -->
<!doctype html>
<html lang="en">
{{#block "head"}}
  <head>
    {{> meta}}

    {{#block "title"}}
    	<title>{{title}}</title>
    {{/block}}

    {{#block "styles"}}
	    {{#each stylesheets}}
	    	<link href="{{this}}" rel="stylesheet" />
	    {{/each}}
    {{/block}}
  </head>
{{/block}}

{{#block "body"}}
	<body>
		{{#block "main"}}
		{{/block}}

		{{#block "scripts"}}
			{{#each scripts}}
				<script defer src="{{this}}"></script>
			{{/each}}
		{{/block}}
	</body>
{{/block}}
</html>