<!-- Doctype HTML5 -->
<!doctype html>
<html lang="en">
{{#block "head"}}
  <head>
    {{> meta}}

    {{#block "title"}}
    	<title>{{ title }}</title>
    {{/block}}

    {{#block "styles"}}
	    {{#each stylesheets}}
	    	<link href="{{this}}" rel="stylesheet" />
	    {{/each}}
    {{/block}}
  </head>
{{/block}}

{{#block "body"}}
	<body>
		<div class="modal">
			<div class="modal__overlay w-100 h-100 d-flex justify-content-center align-items-center">
				<div class="modal__window" style="width: {{ width }}px">
					{{#block "content"}}{{/block}}
				</div>
			</div>
		</div>
	</body>
{{/block}}
</html>